<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <display-name>Exercicio servelet 1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QuerySeverlet</display-name>
    <servlet-name>QuerySeverlet</servlet-name>
    <servlet-class>QuerySeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerySeverlet</servlet-name>
    <url-pattern>/QuerySeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormSeverlet</display-name>
    <servlet-name>FormSeverlet</servlet-name>
    <servlet-class>FormSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormSeverlet</servlet-name>
    <url-pattern>/FormSeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectSeverlet</display-name>
    <servlet-name>RedirectSeverlet</servlet-name>
    <servlet-class>RedirectSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectSeverlet</servlet-name>
    <url-pattern>/RedirectSeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionSeverlet</display-name>
    <servlet-name>SessionSeverlet</servlet-name>
    <servlet-class>SessionSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionSeverlet</servlet-name>
    <url-pattern>/SessionSeverlet</url-pattern>
  </servlet-mapping>
</web-app>