<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ServiceListServlet</display-name>
    <servlet-name>ServiceListServlet</servlet-name>
    <servlet-class>servlet.ServiceListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceListServlet</servlet-name>
    <url-pattern>/ServiceListServlet</url-pattern>
  </servlet-mapping>
  <display-name>ClinicaEstetica</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServiceAddServlet</display-name>
    <servlet-name>ServiceAddServlet</servlet-name>
    <servlet-class>servlet.ServiceAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceAddServlet</servlet-name>
    <url-pattern>/ServiceAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceDeleteServlet</display-name>
    <servlet-name>ServiceDeleteServlet</servlet-name>
    <servlet-class>servlet.ServiceDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceDeleteServlet</servlet-name>
    <url-pattern>/ServiceDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionListServlet</display-name>
    <servlet-name>SessionListServlet</servlet-name>
    <servlet-class>servlet.SessionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionListServlet</servlet-name>
    <url-pattern>/SessionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionAddServlet</display-name>
    <servlet-name>SessionAddServlet</servlet-name>
    <servlet-class>servlet.SessionAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAddServlet</servlet-name>
    <url-pattern>/SessionAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDeleteServlet</display-name>
    <servlet-name>SessionDeleteServlet</servlet-name>
    <servlet-class>servlet.SessionDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDeleteServlet</servlet-name>
    <url-pattern>/SessionDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>